<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>审批流程1</title>
</head>
<body>
<h1>审批意见1</h1>
<ul>
    <li><a th:href="@{/test/get1}">获取待办</a></li>
    <div>{String}</div>
</ul>
<form action="#" th:action="@{/test/s1}" method="post">
    <p>工单id<input th:type="text"  readonly="readonly"/></p>
    <p>创建日期<input th:type="text" readonly="readonly"/></p>
    <p>内容<input th:type="text" readonly="readonly"/></p>
    <p>审批意见1<input th:type="text" th:name="spyj1" /></p>
    <p>审批意见2<input th:type="text" readonly="readonly"/></p>
    <p><input th:type="submit" th:value="提交流程"/></p>
</form>
</body>
</html>