<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"charset="UTF-8" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>登陆</title>
</head>

<body>
<main>
    <form class="form" th:action="@{/login}" method="post">
        <div align="center">
            <form th:action="@{/userLogin}" method="post">
                用户名：<input name="userName"/><br>
                密  码：<input name="password" type="password"/><br>
                <input type="submit" th:value="登陆">
            </form>
        </div>
    </form>
</main>

</body>
</html>
