<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>开始流程</title>
</head>
<body>
<h1>流程表单</h1>
<form action="#" th:action="@{/test/start}" method="post">
    <p>工单id<input th:type="text" th:name="id"/></p>
    <p>创建日期<input th:type="text" th:name="createdate"/></p>
    <p>内容<input th:type="text" th:name="details"/></p>
    <p>审批意见1<input th:type="text" readonly="readonly"/></p>
    <p>审批意见2<input th:type="text" readonly="readonly"/></p>
    <p><input th:type="submit" th:value="提交流程"/></p>
</form>
</body>
</html>