<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        //整个HTML加载完后执行，这样才能获取全部组件
        window.onload=function () {
            //getElementById是document对象方法
            var bjNode=document.getElementById("bj");
            alert(bjNode);
            //getElementsByTagName是Node接口方法，任何节点都有这个方法
            var bjNode1=document.getElementsByTagName("li");
            alert(bjNode1.length);
            var cityNode=document.getElementById("city");
            var cityLiNode=cityLiNode.getElementsByTagName("li")
            alert(cityLiNode.length);
        }
    </script>
</head>
<body>
    <p>选择城市</p>
    <ul id="city">
        <li id="bj" name="Beijing">北京</li>
        <li id="sh" name="Shanghai">上海</li>
        <li id="gz" name="Guangzhou">广州</li>
        <li id="sz" name="Shenzhen">深圳</li>
    </ul>
    <br><br>
    <p>选择城市</p>
    <ul id="game">
        <li id="bkm" name="bkm">宝可梦</li>
        <li id="fifa" name="fifa">FIFA</li>
        <li id="cs" name="cs">CS</li>
        <li id="lol" name="lol">LOL</li>
    </ul>
    <br><br>
    gender:
        <input>Male

</body>
</html>