<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        //有^^删，否则加^^
        window.onload=function (){
            var str="^^abc"
            //正则表达式
            //写法  //g 全局
            //写法  /^/g 以^开头
            //写法  /^\^/g ^特殊字符，转译
            //写法  /^\^{2}/g  两个^
            var reg=/^\^{2}/g
            alert(reg.test(str))//true
            str=str.replace(reg,"")//去除^^
            alert(str)
            var str2="abc"
            alert(reg.test(str2))//false
            var liNodes=document.getElementsByTagName("li")
            for(var i=0;i<liNodes.length;i++){
                liNodes[i].onclick=function () {
                    var val=this.firstChild.nodeValue
                    if(reg.test(val)){
                        val=val.replace(reg,"")
                    }else{
                        val="^^"+val
                    }
                    this.firstChild.nodeValue=val
                }
            }
        }
    </script>
</head>
<body>
    <p>选择城市</p>
    <ul id="city"><li id="bj" name="Beijing">北京</li>
        <li id="sh" name="Shanghai" onclick="alert('上海')">上海</li>
        <li id="gz" name="Guangzhou">广州</li>
        <li id="sz" name="Shenzhen">深圳</li>
    </ul>
    <br><br>
    <p>选择城市</p>
    <ul id="game">
        <li id="bkm" name="bkm">宝可梦</li>
        <li id="fifa" name="fifa">FIFA</li>
        <li id="cs" name="cs">CS</li>
        <li id="lol" name="lol">LOL</li>
    </ul>

    <br><br>
    name:<input type="text" name="username" id="name" value="caddy"/>
    <br><br>
    gender:
        <input type="radio" name="gender" value="male"/>Male
        <input type="radio" name="gender" value="female"/>Female

</body>
</html>